{{define "title"}}@{{.title}}'s channel{{end}}
{{define "head"}}{{end}}
{{define "content"}}
<div class="container">
	<div class="page-header">
		<h1>@{{.title}}</h1>
		<p>Member since : {{.creationdate}}</p>
		
		<p>Last seen : {{.lastseen}}</p>
	</div>
	{{range $n := .posts}}
		<div class="panel panel-default">
			<div class="panel-body">
				<p>{{.Content}}</p>
				<span class="pull-right" style="margin-top: 14px;">{{.UpdatedAt | PRETTYTIME}}</span>
			</div>
		</div>
	{{else}}
	<p>No posts yet.</p>
	{{end}}
	{{template "footer" .}}
</div>
{{end}}
{{define "foot"}}{{end}}
