{{define "title"}}Not found.{{end}}
{{define "head"}}{{end}}
{{define "content"}}
<div class="container">
	<div class="page-header">
		<h3>{{template "title" .}}</h3>
	</div>
	{{template "footer" .}}
</div>
{{end}}
{{define "foot"}}{{end}}